Hello and welcome on {{ ansible_hostname }}.
This is a {{ ansible_distribution }}-Server running in Version {{ ansible_distribution_version }}.
This is the {{ webserver_name }} instance.
Please note: This server is deployed and managed with Ansible.
Hands off!

                        @@@@@@@@@@@@@@@
                    @@@@@@@@@@@@@@@@@@@@@@
                 @@@@@@@@@@@@@@@@@@@@@@@@@@@@
              @@@@@@@@@@@@@@@    @@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@      @@@@@@@@@@@@@@@
         @@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@@@@@
       @@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@
      @@@@@@@@@@@@@@@@@@@    @@    @@@@@@@@@@@@@@@@@@@
     @@@@@@@@@@@@@@@@@@@    @@@@    @@@@@@@@@@@@@@@@@@@
    @@@@@@@@@@@@@@@@@@@    @@@@@@    @@@@@@@@@@@@@@@@@@@
   @@@@@@@@@@@@@@@@@@@     @@@@@@@    @@@@@@@@@@@@@@@@@@@
   @@@@@@@@@@@@@@@@@@@     @@@@@@@     @@@@@@@@@@@@@@@@@@
   @@@@@@@@@@@@@@@@@@         @@@@@    @@@@@@@@@@@@@@@@@@
    @@@@@@@@@@@@@@@@@    @@      @@@@    @@@@@@@@@@@@@@@@
    @@@@@@@@@@@@@@@    @@@@@@      @@    @@@@@@@@@@@@@@@
     @@@@@@@@@@@@@     @@@@@@@@      @    @@@@@@@@@@@@@
      @@@@@@@@@@@     @@@@@@@@@@@@         @@@@@@@@@@@
       @@@@@@@@@@    @@@@@@@@@@@@@@@        @@@@@@@@@
        @@@@@@@@    @@@@@@@@@@@@@@@@@@@     @@@@@@@
           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                 @@@@@@@@@@@@@@@@@@@@@@@@